

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}



.content {
    flex: 1;
    padding: 20px;
  

}

#listViewBtn,
#cardViewBtn {
  margin-right: 5px;
}


li {
    padding: 5px;
}

.hidden {
    display: none;
}

.icon-image 
{
    padding-right: 10px;
}


footer {
    background-color: #000000;
    color: #c4c4b2;
    padding: 8px;
}

.content, .list-group-item.list-group-item-action {
    background-color: #f75f1c;
    color: #000;
}


a.btn.btn-primary{
    background-color: #000000;
    color: #85e21f;
    border-color: #fff;
}

#cardViewBtn, #listViewBtn 
{
   margin-left: 5px;
   margin-right: 5px;
}


span.badge.badge-light{
    margin-top: 5px;
    text-wrap: wrap;
    text-align: left;
    color: #85e21f;
}


.card-body {
    background-color: #881ee4;
}

.card-text, h5.card-title {
    color: #85e21f;
}


a.btn.btn-primary{
    background-color: #000000;
    color: #85e21f;
    border-color: #fff;
}

div.card.h-100{
    border-color: #000;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    z-index: 1000;
}