

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

.content {
    flex: 1;
    padding: 20px;

}



.container-fluid {
    background-color: black;
    color: white;
}



#listViewBtn,
#cardViewBtn {
  margin-right: 5px;
}

#cardViewBtn, #listViewBtn 
{
   margin-left: 5px;
   margin-right: 5px;
}

li {
    padding: 5px;
}


.icon-image 
{
    padding-right: 10px;
}

.hidden {
    display: none;
}

span.badge.badge-light{
    margin-top: 5px;
    text-wrap: wrap;
    text-align: left;
    color: black;
  
}

footer {
    background-color: #000000;
    color: #c4c4b2;
    padding: 8px;
}


a.btn.btn-primary{
    background-color: #0d6efd;
    color: white;
   
}

.content, .list-group-item.list-group-item-action {
    background-color: white;
    color: black;
}


.card-body {
    background-color: white;
}

.card-text, h5.card-title {
    color: black;
}

a.btn.btn-primary{
    background-color: #0d6efd;
    color: white;
   
}


div.card.h-100{

    border-color: lightgray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    z-index: 1000;
}

#searchInput {
    width: 350px; /* Set the width to 100px */
    margin-right: 10px;
  }

/* Adjust styles to make active tab stand out */
.nav-link.active {
    background-color: #007bff; /* Change to your desired active tab background color */
    color: #000; /* Change to your desired active tab text color */
    font-weight: bold;
  }

  .iconLogos {
    width: 45px; 
    height: 45px;
    background-color: white;
  }