

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

.content {
    flex: 1;
    padding: 20px;

}

#listViewBtn,
#cardViewBtn {
  margin-right: 5px;
}

#card-img-top {
    height: 300px;
    width: 300px;
}

li {
    padding: 5px;
}

.hidden {
    display: none;
}


footer {
    background-color: #F8F9FA;
    padding: 8px;
}

.content, .list-group-item.list-group-item-action  
{
    background-color:  #996236;
    color: #F8B12C;
}



.card-body {
    background-color: #9D221E;
}

.card-text, h5.card-title {
    color: white;
}


a.btn.btn-primary{
    background-color: #382615;
    color: #859D3C;
    border-color: #ED732E;
}

#cardViewBtn, #listViewBtn 
{
   margin-left: 5px;
   margin-right: 5px;
}

div.card.h-100{
    border-color: #ED732E;
}

span.badge.badge-light{
    margin-top: 5px;
    text-wrap: wrap;
    text-align: left;
    color: white;
}
